In [1]:
import pandas as pd

In [2]:
category = pd.read_csv('data/category.csv')
stores = pd.read_csv('data/stores_gangnam.csv')
stores.head()

,상가업소번호,상호명,업종코드,업종명,시도명,시군구코드,시군구명,행정동코드,행정동명,지번본번지,지번부번지,지번주소,경도,위도,code,y,x,area_code
0,19911397,커피빈코리아선릉로93길점,Q12A01,커피전문점/카페/다방,서울특별시,11680,강남구,1168064000,역삼1동,696,42.0,서울특별시 강남구 역삼동 696-42,127.047883,37.505675,Q12A01,445135.056779,204233.769126,1001087.0
1,19905471,와라와라호프,Q09A01,호프/맥주,서울특별시,11680,강남구,1168060000,대치1동,604,NaN,서울특별시 강남구 대치동 604,127.061026,37.493922,Q09A01,443831.330896,205396.693232,1001053.0
2,20014818,쉼터,Q04A01,라면김밥분식,서울특별시,11680,강남구,1168058000,삼성1동,159,NaN,서울특별시 강남구 삼성동 159,127.057100,37.512939,Q04A01,445941.762181,205048.247012,1000935.0
3,20015136,배제현의웰빙낙지한마리수제비,Q03A13,낙지/오징어,서울특별시,11680,강남구,1168051000,신사동,512,13.0,서울특별시 강남구 신사동 512-13,127.020945,37.517574,Q03A13,446454.817818,201851.603710,1001470.0
4,20024149,타워광명내과의원,S01B07,내과/외과,서울특별시,11680,강남구,1168065600,도곡2동,467,14.0,서울특별시 강남구 도곡동 467-14,127.053198,37.488742,S01B07,443255.944681,204704.761699,1001035.0

In [3]:
category

     category_id   category  parent_id    code
0         100000        외식업          0       0
1         101000      한식음식점     100000       0
2         101001  한식/백반/한정식     101000  Q01A01
3         101002     갈비/삼겹살     101000  Q01A02
4         101003   곱창/양구이전문     101000  Q01A03
..           ...        ...        ...     ...
274       701016       교복판매     701000  D05A16
275       702000       패션잡화     700000       0
276       702001   섬유/직물/주단     702000  D05A18
277       702002      특수복판매     702000  D05A19
278       800000     엔터테인먼트          0       0

[279 rows x 4 columns]

In [ ]:
#우리 서비스에 포함하지 않는 업종코드는 제외!
stores =stores.loc[ stores["업종코드"].isin(category['code'])]
stores = stores.reset_index(drop=True)
stores.shape

In [55]:
#print(category.iloc[3]['category_id'])
i = category[stores['업종코드'][idx] == category['code']].index
print(category.iloc[i]['category_id'].)

(1,)

In [56]:
#우리 서비스 내에 category와 매칯
stores['업종코드'] 
for idx in stores.index:
    stores['code'][idx] = category[stores['업종코드'][idx] == category['code']]['category_id'].values[0]

//anaconda3/envs/recommender/lib/python3.7/site-packages/ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  This is separate from the ipykernel package so we can avoid doing imports until

In [57]:
stores

,상가업소번호,상호명,업종코드,업종명,시도명,시군구코드,시군구명,행정동코드,행정동명,지번본번지,지번부번지,지번주소,경도,위도,code,y,x,area_code
0,19911397,커피빈코리아선릉로93길점,Q12A01,커피전문점/카페/다방,서울특별시,11680,강남구,1168064000,역삼1동,696,42.0,서울특별시 강남구 역삼동 696-42,127.047883,37.505675,109001,445135.056779,204233.769126,1001087.0
1,19905471,와라와라호프,Q09A01,호프/맥주,서울특별시,11680,강남구,1168060000,대치1동,604,NaN,서울특별시 강남구 대치동 604,127.061026,37.493922,110001,443831.330896,205396.693232,1001053.0
2,20014818,쉼터,Q04A01,라면김밥분식,서울특별시,11680,강남구,1168058000,삼성1동,159,NaN,서울특별시 강남구 삼성동 159,127.057100,37.512939,105001,445941.762181,205048.247012,1000935.0
3,20015136,배제현의웰빙낙지한마리수제비,Q03A13,낙지/오징어,서울특별시,11680,강남구,1168051000,신사동,512,13.0,서울특별시 강남구 신사동 512-13,127.020945,37.517574,103012,446454.817818,201851.603710,1001470.0
4,20027817,마깐바냑,Q04A01,라면김밥분식,서울특별시,11680,강남구,1168064000,역삼1동,831,45.0,서울특별시 강남구 역삼동 831-45,127.031005,37.493653,105001,443800.126490,202741.863259,1001052.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2758,19979480,간단하지만특별한화피디Cafe,Q12A01,커피전문점/카페/다방,서울특별시,11680,강남구,1168064000,역삼1동,828,7.0,서울특별시 강남구 역삼동 828-7,127.032438,37.496557,109001,444122.489944,202868.445995,1001066.0
2759,20882037,박성일에듀베스트,R01A01,학원-입시,서울특별시,11680,강남구,1168060000,대치1동,506,NaN,서울특별시 강남구 대치동 506,127.062981,37.493145,201001,443745.162388,205569.619648,1001053.0
2760,25346382,이룸스터디학원,R01A01,학원-입시,서울특별시,11680,강남구,1168054500,압구정동,609,NaN,서울특별시 강남구 신사동 609,127.029542,37.526322,201001,447425.948874,202611.323873,1001140.0
2761,24349434,강남엠이케이학원,R01A01,학원-입시,서울특별시,11680,강남구,1168065500,도곡1동,545,19.0,서울특별시 강남구 도곡동 545-19,127.039110,37.491277,201001,443536.725894,203458.703393,1000893.0
2762,25294496,숲속카페,Q12A01,커피전문점/카페/다방,서울특별시,11680,강남구,1168060000,대치1동,623,NaN,서울특별시 강남구 대치동 623,127.059754,37.493489,109001,443783.132794,205284.198089,1001054.0

In [59]:
stores.to_csv('data/stores.csv', index=False)