In [1]:
import pandas as pd
import requests
import json
import math
import numpy as np
import random

<h2> 가게 상권 찾기 </h2>
<h3> 가게 좌표 값 저장 </h3>

In [4]:
# area 좌표계 변환 값 저장
area = pd.read_csv('./data/area.csv')
area.columns=['area_level','area_level_name','area_code','area_name','x','y','sigungu_code','dong_code']
area['lat'] = np.nan #y
area['lon']= np.nan #x
area.head()

,area_level,area_level_name,area_code,area_name,x,y,sigungu_code,dong_code,date,lat,lon
0,A,골목상권,1000012,옥인길,197039,453461,11110,11110515,201810,NaN,NaN
1,R,전통시장,1001264,통인시장,197342,453459,11110,11110515,201810,NaN,NaN
2,A,골목상권,1000027,필운대로1길,197051,453169,11110,11110530,201810,NaN,NaN
3,D,발달상권,1001234,서울 종로구 경복궁역_1,197440,453033,11110,11110530,201810,NaN,NaN
4,D,발달상권,1001237,서울 종로구 경복궁역_2,197617,453100,11110,11110530,201810,NaN,NaN

In [16]:
#카카오api 호출
headers = {
    'Authorization': 'KEY VALUE',
}
for idx in area.index:
    params = (
        ('x', area.loc[idx]['x']),
        ('y', area.loc[idx]['y']),
        ('input_coord', 'WTM'),
        ('output_coord', 'WGS84'),
    )
    response = requests.get('https://dapi.kakao.com/v2/local/geo/transcoord.json', headers=headers, params=params)
    j = json.loads(response.text)
    WGS_y = j.get("documents")[0].get("y")
    WGS_x = j.get("documents")[0].get("x")
    area['lat'][idx]= WGS_y
    area['lon'][idx] = WGS_x

area.head()

//anaconda3/envs/recommender/lib/python3.7/site-packages/ipykernel_launcher.py:17: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
//anaconda3/envs/recommender/lib/python3.7/site-packages/ipykernel_launcher.py:18: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

,area_level,area_level_name,area_code,area_name,x,y,sigungu_code,dong_code,date,lat,lon
0,A,골목상권,1000012,옥인길,197039,453461,11110,11110515,201810,37.580697,126.966478
1,R,전통시장,1001264,통인시장,197342,453459,11110,11110515,201810,37.580680,126.969908
2,A,골목상권,1000027,필운대로1길,197051,453169,11110,11110530,201810,37.578066,126.966615
3,D,발달상권,1001234,서울 종로구 경복궁역_1,197440,453033,11110,11110530,201810,37.576842,126.971019
4,D,발달상권,1001237,서울 종로구 경복궁역_2,197617,453100,11110,11110530,201810,37.577446,126.973023

In [ ]:
area.to_csv('./data/area.csv', index= False)

In [35]:
area = pd.read_csv('./data/area.csv',index_col='area_code')
area

,area_level,area_level_name,area_name,x,y,sigungu_code,dong_code,date,lat,lon
area_code,,,,,,,,,,
1000012,A,골목상권,옥인길,197039,453461,11110,11110515,201810,37.580697,126.966478
1001264,R,전통시장,통인시장,197342,453459,11110,11110515,201810,37.580680,126.969908
1000027,A,골목상권,필운대로1길,197051,453169,11110,11110530,201810,37.578066,126.966615
1001234,D,발달상권,서울 종로구 경복궁역_1,197440,453033,11110,11110530,201810,37.576842,126.971019
1001237,D,발달상권,서울 종로구 경복궁역_2,197617,453100,11110,11110530,201810,37.577446,126.973023
...,...,...,...,...,...,...,...,...,...,...
1001000,A,골목상권,진황도로47길,212452,448612,11740,11740685,201810,37.536928,127.140889
1001156,D,발달상권,서울 강동구 길동역,212214,448512,11740,11740685,201810,37.536030,127.138194
1001490,R,전통시장,길동복조리시장,212698,448781,11740,11740685,201810,37.538447,127.143675
1000977,A,골목상권,명일로13길,212671,448210,11740,11740700,201810,37.533303,127.143360
1000992,A,골목상권,양재대로96길,212357,447783,11740,11740700,201810,37.529460,127.139800

In [36]:
#상권 매칭
headers = {
    'Authorization': 'KEY VALUE',
}
data ={
    'query' : '서울특별시 강남구 역삼동 707-34 한신인터밸리24'
}

response = requests.get('https://dapi.kakao.com/v2/local/search/address.json', headers=headers,data=data)
j = json.loads(response.text)
WGS_y=j.get("documents")[0].get("road_address").get('y')
WGS_x=j.get("documents")[0].get("road_address").get('x')
print('y : '+WGS_y +", x : "+WGS_x)

y : 37.50323692847112, x : 127.04658136277511

In [37]:
def findArea(WGS_x,WGS_y):
    MIN = 999999
    index = -1
    for i in area.index:
        x = area['lon'][i]
        y = area['lat'][i]
        temp =math.pow(float(WGS_x)-x,2) +math.pow(float(WGS_y)-y,2)
        if temp<MIN:
            index = i
            MIN  = temp
    return index
index =findArea(WGS_x,WGS_y)
index

1001077

In [95]:
population = pd.read_csv('./data/population_rating.csv',index_col='area_code')
population

,area_name,total,m,fm,age10,age20,age30,age40,age50,age60
area_code,,,,,,,,,,
1000001,계동길,39262,55,45,16,32,25,16,9,0
1000002,난계로27길,21270,52,48,16,19,16,19,24,0
1000003,돈화문로11가길,59864,59,41,17,33,25,16,9,0
1000004,명륜길,28902,46,54,23,27,20,14,11,0
1000005,백석동길,9697,50,50,15,16,18,17,22,0
...,...,...,...,...,...,...,...,...,...,...
1001492,명동 남대문 북창동 다동 무교동 관광특구,159936,49,51,21,33,26,15,4,0
1001493,동대문패션타운 관광특구,12580,55,45,22,30,21,16,11,0
1001494,종로·청계 관광특구,33622,60,40,14,29,26,21,9,0
1001495,잠실 관광특구,37758,56,44,18,25,20,20,15,0
1001496,강남 마이스 관광특구,22588,57,43,24,35,25,12,4,0

In [40]:
population.loc[index]

area_code    1001077
area_name      선릉역_1
total          56710
m              30624
fm             26086
age10            554
age20          10634
age30          15381
age40          14788
age50          12110
age60           3243
Name: 1001077, dtype: object

<h2> 디폴트 데이터 (상권 분석)로만 평점 측정 </h2>

In [2]:
influencers = pd.read_csv('./data/influencer.csv',index_col='channel_id')
stores = pd.read_csv('./data/stores.csv')
stores = stores.astype({'area_code': 'int', '행정동코드':'int'})
stores.head()

,상가업소번호,상호명,업종코드,업종명,시도명,시군구코드,시군구명,행정동코드,행정동명,지번본번지,지번부번지,지번주소,경도,위도,category_id,y,x,area_code
0,19911397,커피빈코리아선릉로93길점,Q12A01,커피전문점/카페/다방,서울특별시,11680,강남구,1168064000,역삼1동,696,42.0,서울특별시 강남구 역삼동 696-42,127.047883,37.505675,109001,445135.056779,204233.769126,1001087
1,19905471,와라와라호프,Q09A01,호프/맥주,서울특별시,11680,강남구,1168060000,대치1동,604,NaN,서울특별시 강남구 대치동 604,127.061026,37.493922,110001,443831.330896,205396.693232,1001053
2,20014818,쉼터,Q04A01,라면김밥분식,서울특별시,11680,강남구,1168058000,삼성1동,159,NaN,서울특별시 강남구 삼성동 159,127.057100,37.512939,105001,445941.762181,205048.247012,1000935
3,20015136,배제현의웰빙낙지한마리수제비,Q03A13,낙지/오징어,서울특별시,11680,강남구,1168051000,신사동,512,13.0,서울특별시 강남구 신사동 512-13,127.020945,37.517574,103012,446454.817818,201851.603710,1001470
4,20027817,마깐바냑,Q04A01,라면김밥분식,서울특별시,11680,강남구,1168064000,역삼1동,831,45.0,서울특별시 강남구 역삼동 831-45,127.031005,37.493653,105001,443800.126490,202741.863259,1001052

In [3]:
stores.loc[61]

상가업소번호                     23073225
상호명                             칼리아
업종코드                         F01A01
업종명                           여성미용실
시도명                           서울특별시
시군구코드                         11680
시군구명                            강남구
행정동코드                    1168065000
행정동명                           역삼2동
지번본번지                           732
지번부번지                            27
지번주소           서울특별시 강남구 역삼동 732-27
경도                          127.042
위도                          37.4974
category_id                  501001
y                            444218
x                            203714
area_code                   1000930
Name: 61, dtype: object

<h3> rating ( 유사도 측정 )</h3>

In [4]:
def baseRecommend(id):
    ratings = []
    age1 =population.loc[stores.loc[id]['area_code'],['m','fm','age10','age20','age30','age40','age50','age60']].values
    #idx = 0
    for i in influencers.index:
        rating = 0
        # 카테고리 비교
        if int(stores.loc[id]['category_id']/100000) == int(influencers.loc[i]['category_id']/100000):
            #print(int(stores.loc[id]['category_id']/100000) ," ;",int(influencers.loc[i]['category_id']/100000))
            rating = rating + 3
        
        # 지역
        if int(stores.loc[id]['행정동코드']/100000000) == int(influencers.loc[i]['addr_code']/100000000):
            rating = rating +2
            if int(stores.loc[id]['행정동코드']/100000) == int(influencers.loc[i]['addr_code']/100000):
                rating = rating +1
        
        # 성별    
        gender = 1-math.pow(population.loc[stores.loc[id]['area_code']]['m'] - influencers.loc[i]['target_m'],2)/10000
        rating = rating + gender*2
        
        #연령
        age2 = influencers.loc[i,['target_m','target_w','target_10','target_20','target_30','target_40','target_50','target_60']].values
        #코사인유사도
        age = np.dot(age1,age2) /(np.linalg.norm(age1)*np.linalg.norm(age2))
        rating =rating +2*age
        ratings.append((i,rating))
        #df.loc[idx] = [i, rating]
        #idx = idx+1
    return ratings

In [101]:
# 일치 하는 데이터 넣어서 해보기~
influencers['target_m'][0] = 58
influencers['target_w'][0] = 42
influencers['target_10'][0] =20
influencers['target_20'][0] =29
influencers['target_30'][0] =25
influencers['target_40'][0] =17
influencers['target_50'][0] =6
influencers['target_60'][0] =0

//anaconda3/envs/recommender/lib/python3.7/site-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.
//anaconda3/envs/recommender/lib/python3.7/site-packages/ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

//anaconda3/envs/recommender/lib/python3.7/site-packages/ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  This is separate from the ipykernel package so we can avoid doing imports until
//anaconda3/envs/recommender/lib/python3.7/site-packages/ipykernel_launcher.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  after removing the cwd from sys.path.
//anaconda3/envs/recommender/lib/python3.7/site-packages/ipykernel_launcher.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """
//anaconda3/envs/recommender/lib/python3.7/site-packages/ipykernel_launcher.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

//anaconda3/envs/recommender/lib/python3.7/site-packages/ipykernel_launcher.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  import sys
//anaconda3/envs/recommender/lib/python3.7/site-packages/ipykernel_launcher.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

In [211]:
age1 =population.loc[stores.loc[1]['area_code'],['m','fm','age10','age20','age30','age40','age50','age60']].values
age1

array([45, 55, 13, 13, 21, 16, 13, 0], dtype=object)

In [217]:
ratings = baseRecommend(61)
#내림차순 정렬
ratings= sorted(ratings, key=lambda x:x[1], reverse=True)
ratings

[(2, 9.559685987960655),
 (43, 9.519689936604275),
 (41, 9.484183884137076),
 (12, 9.093605820344562),
 (13, 9.048477238190227),
 (0, 8.813188866247353),
 (14, 8.80946089126207),
 (37, 8.79673152005759),
 (15, 8.702783486085117),
 (19, 8.701332087132911),
 (7, 8.69386604106441),
 (44, 8.68950998844779),
 (29, 8.684824512517343),
 (11, 8.64987772113302),
 (18, 8.64152813307392),
 (8, 8.639285842429123),
 (32, 8.596968194357071),
 (1, 8.56206804127683),
 (21, 8.545535145769799),
 (35, 8.524832908887603),
 (9, 8.478442699419732),
 (40, 8.476966705893782),
 (4, 8.448924833632345),
 (42, 8.418664825939604),
 (20, 8.401861492214067),
 (34, 8.372792798463436),
 (17, 8.37005895703434),
 (33, 8.348075655938858),
 (38, 8.334635968764252),
 (24, 8.330033774974941),
 (26, 8.291643864821514),
 (28, 8.256523265608484),
 (25, 8.242224775879787),
 (6, 8.239107123336272),
 (23, 8.237990779870021),
 (45, 8.205987446358822),
 (5, 8.179748314556885),
 (27, 8.159462500998409),
 (3, 8.157631287786664),
 (46, 8.129659533846493),
 (47, 8.113275715953982),
 (30, 8.056900200456914),
 (16, 7.999254541564392),
 (36, 7.933789878822325),
 (10, 7.8022859369703355),
 (22, 7.80041911020445),
 (31, 7.793534632204081),
 (39, 7.529446581304697),
 (371, 6.913147359517303),
 (240, 6.686492150755093),
 (73, 6.619273115451217),
 (525, 6.603811868428929),
 (96, 6.580573533634138),
 (469, 6.567334553180157),
 (103, 6.561031797591681),
 (76, 6.56034634626891),
 (575, 6.541041303780995),
 (168, 6.506959248141935),
 (254, 6.489690093664389),
 (381, 6.434923924173268),
 (112, 6.434179691563604),
 (67, 6.336667133849145),
 (533, 6.291342499081654),
 (155, 6.2675241381410345),
 (185, 6.252409045976922),
 (235, 6.198105742878862),
 (448, 6.19480833964608),
 (387, 6.17146793937758),
 (300, 6.164014125279973),
 (183, 6.1499151375784145),
 (222, 6.017730054889505),
 (200, 5.983508353624741),
 (339, 5.938994576545056),
 (250, 5.93134134732661),
 (480, 5.918912748727953),
 (229, 5.915664797836106),
 (182, 5.913473252689119),
 (500, 5.899239565797698),
 (431, 5.892428385599887),
 (375, 5.882356972376436),
 (347, 5.882030785999331),
 (228, 5.860851881501958),
 (80, 5.850884298989218),
 (237, 5.850826232775578),
 (303, 5.849541796160917),
 (296, 5.848208115248678),
 (294, 5.836214752560449),
 (202, 5.82781603570573),
 (395, 5.8179940889771835),
 (470, 5.813998366644578),
 (64, 5.8135735877619865),
 (131, 5.812308185961157),
 (462, 5.80872678878363),
 (378, 5.802085351473459),
 (72, 5.800818210503706),
 (523, 5.796861728213796),
 (336, 5.788734362150464),
 (247, 5.788651157027684),
 (438, 5.781281879127786),
 (452, 5.777942717456119),
 (411, 5.772990454034592),
 (376, 5.7721414157941515),
 (158, 5.7712149286575505),
 (97, 5.7707562182263805),
 (407, 5.756846494903463),
 (571, 5.755043787637464),
 (100, 5.753449862542745),
 (91, 5.745844301183381),
 (372, 5.7426427049671),
 (454, 5.741967706055665),
 (213, 5.7394606281026554),
 (227, 5.735286771291987),
 (147, 5.735053995991569),
 (60, 5.729707977381216),
 (220, 5.72888204870983),
 (450, 5.7258296138542555),
 (562, 5.721068138550275),
 (539, 5.718172807034362),
 (108, 5.717594862240851),
 (384, 5.713603229074229),
 (62, 5.7127846251424135),
 (582, 5.71178209340513),
 (319, 5.708039912468635),
 (142, 5.707130986409439),
 (409, 5.704772528056372),
 (212, 5.701549989739887),
 (149, 5.700528601012747),
 (223, 5.698387706825487),
 (328, 5.696023612981293),
 (433, 5.692834248643513),
 (288, 5.6882918099639435),
 (460, 5.6864444884586955),
 (352, 5.68522349336828),
 (249, 5.684553432804547),
 (146, 5.6781256699909575),
 (351, 5.677283813234329),
 (397, 5.673936471618231),
 (136, 5.672971572896531),
 (68, 5.671986206636274),
 (439, 5.671423034744222),
 (357, 5.670384139064103),
 (259, 5.667266835816262),
 (260, 5.6645415387321725),
 (177, 5.663390495201333),
 (495, 5.6624347247568885),
 (386, 5.661615664071729),
 (464, 5.657695154372236),
 (85, 5.657630377756785),
 (408, 5.649986619215888),
 (295, 5.648950100957681),
 (266, 5.648580714778783),
 (125, 5.645675689391293),
 (456, 5.644182470443156),
 (312, 5.638425253268531),
 (218, 5.6318109084357095),
 (291, 5.6297680794294935),
 (382, 5.627007171513933),
 (565, 5.626525383714791),
 (516, 5.623813622055826),
 (258, 5.621326403979627),
 (514, 5.6206170826701065),
 (236, 5.618928254016848),
 (410, 5.6173279709314805),
 (550, 5.6158559703159225),
 (540, 5.6155600526661456),
 (392, 5.6119863371904035),
 (210, 5.60993466012982),
 (444, 5.609597382055451),
 (413, 5.608148171390257),
 (544, 5.607566906024947),
 (430, 5.606432676598918),
 (355, 5.606360683809737),
 (151, 5.604915672666795),
 (126, 5.603632354226432),
 (341, 5.596328991476165),
 (101, 5.593114650793431),
 (360, 5.591484148950567),
 (262, 5.589376971085711),
 (466, 5.588499522819768),
 (490, 5.587433999019583),
 (402, 5.586651035003873),
 (547, 5.585966510119128),
 (406, 5.585802226528331),
 (412, 5.584689385444571),
 (279, 5.5834326122911015),
 (457, 5.582792354310199),
 (576, 5.581453971056158),
 (455, 5.578805792866078),
 (549, 5.5745571879200115),
 (286, 5.57403657067345),
 (192, 5.573671310765425),
 (120, 5.573155333777195),
 (278, 5.571767195354253),
 (358, 5.571165509945493),
 (245, 5.569964252929286),
 (283, 5.568417175512614),
 (473, 5.565110476887242),
 (48, 5.564231191490502),
 (585, 5.5621092278661965),
 (193, 5.561872512479439),
 (161, 5.560211620489529),
 (282, 5.558181385412243),
 (186, 5.555662737262976),
 (191, 5.554471328345921),
 (141, 5.553814720661963),
 (578, 5.553742662632246),
 (248, 5.552591890838608),
 (579, 5.552071768866831),
 (169, 5.551301004962589),
 (567, 5.551075085884364),
 (83, 5.547988078024923),
 (56, 5.54707637501793),
 (488, 5.546638067569888),
 (172, 5.545115250453184),
 (219, 5.543089913080642),
 (353, 5.541229042779923),
 (297, 5.5384417632836165),
 (509, 5.537307862406404),
 (543, 5.5368136176563505),
 (276, 5.534715901620609),
 (326, 5.528810716988018),
 (145, 5.52469475875184),
 (309, 5.524658108063375),
 (92, 5.516500975915932),
 (496, 5.515141210477346),
 (189, 5.5142750171395),
 (566, 5.511196829688327),
 (196, 5.509851939564197),
 (574, 5.5097622495239165),
 (215, 5.508818763645456),
 (507, 5.508102123754156),
 (499, 5.503811984932114),
 (257, 5.502462439561113),
 (399, 5.5011418615421235),
 (106, 5.499676045910934),
 (241, 5.499000006697068),
 (346, 5.495675726284897),
 (224, 5.494462062499378),
 (301, 5.493549898112826),
 (82, 5.492752611308716),
 (501, 5.492370838522217),
 (166, 5.49230524327018),
 (572, 5.490906016024954),
 (287, 5.488356560393907),
 (270, 5.4881879195443),
 (137, 5.4876987920380484),
 (273, 5.48725805212568),
 (269, 5.487207959228678),
 (95, 5.486931020958334),
 (555, 5.480256755709161),
 (330, 5.479661096937442),
 (174, 5.479530803663116),
 (404, 5.478932089660717),
 (487, 5.477854071565528),
 (316, 5.477752262428499),
 (560, 5.473430804250031),
 (284, 5.470084137098584),
 (437, 5.4690200668381355),
 (453, 5.467225139817109),
 (50, 5.467219716262954),
 (198, 5.463324964358053),
 (178, 5.462339646993539),
 (418, 5.461604746256028),
 (383, 5.46146531105525),
 (118, 5.460636884025433),
 (434, 5.456876361022024),
 (298, 5.456791847158307),
 (497, 5.455324701322812),
 (306, 5.455117878359132),
 (534, 5.454658463231352),
 (256, 5.45127870285836),
 (465, 5.447267910010219),
 (209, 5.446276358248597),
 (350, 5.445930756435295),
 (531, 5.444912635756768),
 (81, 5.438686077405936),
 (233, 5.438134300224103),
 (471, 5.436605322397846),
 (442, 5.434361976733044),
 (356, 5.43197878395106),
 (432, 5.429110553634736),
 (150, 5.428116869744455),
 (510, 5.425451789795179),
 (569, 5.425373385691909),
 (370, 5.423976995576683),
 (581, 5.423042715678052),
 (281, 5.4230072587721745),
 (354, 5.420701583160028),
 (54, 5.4190720889326665),
 (546, 5.418613600965107),
 (388, 5.4162502513518715),
 (230, 5.410013334582072),
 (561, 5.40650320530056),
 (389, 5.406286291051569),
 (310, 5.400654456098625),
 (481, 5.3955324355211305),
 (512, 5.393728568644624),
 (231, 5.389190789633629),
 (190, 5.387344796543298),
 (179, 5.386379922992082),
 (274, 5.385330440206277),
 (304, 5.382393616132022),
 (536, 5.381410144023575),
 (153, 5.372272691542668),
 (491, 5.3719703865671775),
 (113, 5.370528854693706),
 (361, 5.367587219348303),
 (305, 5.361679516194062),
 (232, 5.36149408898447),
 (556, 5.360927962623769),
 (175, 5.360260847111273),
 (203, 5.356640580677693),
 (535, 5.355923426953014),
 (511, 5.354376973235297),
 (272, 5.35158118869381),
 (242, 5.351001034325426),
 (385, 5.350626386533129),
 (463, 5.348986407181727),
 (148, 5.348002043443943),
 (225, 5.344976460214561),
 (401, 5.344232780866121),
 (243, 5.343900116810403),
 (551, 5.3430880843937825),
 (502, 5.341649730452269),
 (160, 5.341139412296591),
 (573, 5.338839335568288),
 (530, 5.335761723558669),
 (504, 5.331144899404591),
 (180, 5.330424630419314),
 (364, 5.321625620955382),
 (429, 5.321442556997226),
 (74, 5.316734721801989),
 (477, 5.315648837062966),
 (393, 5.313465259276734),
 (369, 5.3119147421095825),
 (390, 5.309534642927855),
 (363, 5.308170314493364),
 (267, 5.307430170685269),
 (337, 5.305218256697296),
 (584, 5.304652896182244),
 (476, 5.303909699692039),
 (506, 5.300171783993339),
 (435, 5.299200406085054),
 (359, 5.298360558229096),
 (552, 5.297421585428922),
 (380, 5.295059582373886),
 (78, 5.2931707150554335),
 (486, 5.292297352031515),
 (110, 5.289962001606607),
 (342, 5.289336544786121),
 (167, 5.287771914610867),
 (285, 5.286927410121711),
 (424, 5.285413028500327),
 (420, 5.283213765402381),
 (505, 5.281703221678947),
 (271, 5.281430588998045),
 (548, 5.277685614216504),
 (580, 5.27617470402514),
 (423, 5.273633756986435),
 (61, 5.268709529312383),
 (207, 5.26762335861886),
 (138, 5.266658653900794),
 (521, 5.264264644058457),
 (268, 5.264015729155821),
 (299, 5.263799210551124),
 (422, 5.2627043391398125),
 (154, 5.260780196698049),
 (323, 5.25758147756365),
 (255, 5.256544056667249),
 (391, 5.254332479966386),
 (89, 5.254309411199549),
 (348, 5.251581208162654),
 (537, 5.248238571410293),
 (58, 5.247794162979796),
 (564, 5.245060358602789),
 (373, 5.242697064963694),
 (532, 5.242634745411702),
 (116, 5.241687434086555),
 (123, 5.240829411401613),
 (554, 5.240016225948721),
 (69, 5.23677474378173),
 (542, 5.235585060252754),
 (315, 5.234648664662764),
 (474, 5.233373886936661),
 (205, 5.226736765335087),
 (280, 5.2229485525644295),
 (366, 5.222947045771548),
 (489, 5.221663400905221),
 (314, 5.220259925231842),
 (170, 5.219500903517224),
 (63, 5.217963631423807),
 (377, 5.217378967333814),
 (498, 5.217275358368784),
 (503, 5.215457908293672),
 (163, 5.214572783168008),
 (128, 5.2118886058854255),
 (492, 5.211843521865781),
 (140, 5.21119712090745),
 (124, 5.207908618256654),
 (51, 5.206624122968613),
 (467, 5.206417995442136),
 (345, 5.204456570736515),
 (458, 5.2032472500461235),
 (436, 5.202015956937753),
 (368, 5.199554713804789),
 (524, 5.198167475076383),
 (324, 5.195825968085644),
 (111, 5.193056209534877),
 (472, 5.192279933861214),
 (188, 5.189013102822194),
 (119, 5.188724794817464),
 (139, 5.187465405316354),
 (545, 5.185571244505446),
 (394, 5.183107948064708),
 (176, 5.181147416212241),
 (313, 5.180519251184232),
 (396, 5.177496696775906),
 (162, 5.176542196379788),
 (84, 5.175573592743962),
 (338, 5.171729692636968),
 (515, 5.169454545740659),
 (66, 5.166877091062631),
 (290, 5.1649623950945),
 (75, 5.160494285774509),
 (217, 5.158621867057969),
 (114, 5.158595343475401),
 (206, 5.156495479945009),
 (558, 5.151533790604175),
 (577, 5.148416488934373),
 (421, 5.144670254066435),
 (484, 5.143066560959434),
 (226, 5.139747984829322),
 (583, 5.1382823379685805),
 (184, 5.12742341479964),
 (244, 5.12696073298635),
 (428, 5.122933085468041),
 (52, 5.122550368516912),
 (568, 5.121024477186424),
 (475, 5.117438299920664),
 (494, 5.113722027184257),
 (195, 5.112026152915202),
 (320, 5.1113052119458615),
 (246, 5.110707110737538),
 (559, 5.110585868154354),
 (379, 5.10843758794384),
 (528, 5.097812050487074),
 (327, 5.096863186509572),
 (302, 5.088720323529395),
 (181, 5.088617682526197),
 (538, 5.086395544325203),
 (171, 5.086045551318972),
 (107, 5.085749882061125),
 (334, 5.078968641028626),
 (485, 5.07375930693994),
 (513, 5.068088981075771),
 (79, 5.062456685020514),
 (292, 5.058185128200906),
 (541, 5.056699144585077),
 (343, 5.055321373696559),
 (65, 5.051287229883311),
 (165, 5.047026424243893),
 (55, 5.03248509579959),
 (239, 5.029673218791875),
 (308, 5.027704164967458),
 (461, 5.015412111582412),
 (86, 5.015270855677933),
 (130, 5.013513398978074),
 (264, 5.005190782696648),
 (204, 5.000539489463119),
 (331, 4.9886980454023195),
 (157, 4.98706322218594),
 (173, 4.986258838307468),
 (98, 4.983207340634022),
 (362, 4.978204532774718),
 (325, 4.975522707462267),
 (71, 4.973228276731738),
 (216, 4.966706254050439),
 (483, 4.964640945811974),
 (87, 4.961964146876191),
 (115, 4.959125815972015),
 (557, 4.95799359693191),
 (133, 4.9556807348873235),
 (59, 4.951451223474354),
 (478, 4.947401581775811),
 (221, 4.945242301715706),
 (265, 4.942308823186382),
 (132, 4.935737956984072),
 (144, 4.934136828827868),
 (214, 4.9331392846229605),
 (482, 4.927849225427076),
 (329, 4.926656348692626),
 (479, 4.919409065606895),
 (317, 4.917863553537423),
 (468, 4.915914852596974),
 (88, 4.915105193129586),
 (322, 4.91362180382794),
 (234, 4.9101636826356465),
 (449, 4.907985427980316),
 (152, 4.904357687575501),
 (49, 4.90433035793792),
 (318, 4.903130910272878),
 (419, 4.902449571057028),
 (563, 4.896708503692081),
 (77, 4.894063502441967),
 (135, 4.888388389788263),
 (57, 4.885751187110658),
 (445, 4.883853895506999),
 (252, 4.8782633417206664),
 (367, 4.871817367139817),
 (105, 4.870326483425188),
 (143, 4.865054274241132),
 (365, 4.863939465316221),
 (156, 4.856514108304961),
 (199, 4.838769097160845),
 (251, 4.836779881990001),
 (275, 4.8315508185947245),
 (187, 4.82969070749117),
 (90, 4.822066873088561),
 (344, 4.821698159176713),
 (374, 4.8208210596234),
 (526, 4.818025188609821),
 (425, 4.816266228366291),
 (426, 4.81436301155991),
 (307, 4.809043510561588),
 (447, 4.808705241170719),
 (122, 4.80437829846367),
 (446, 4.798592173310077),
 (70, 4.7967760915076525),
 (417, 4.783000759440137),
 (403, 4.775508982811444),
 (102, 4.751297184620597),
 (129, 4.74061812892694),
 (522, 4.737077980111199),
 (261, 4.735043739156773),
 (311, 4.7285006727099566),
 (400, 4.7268030007243045),
 (289, 4.71393327849092),
 (570, 4.712932864125535),
 (440, 4.708934841385785),
 (441, 4.70254871439726),
 (520, 4.701071304937445),
 (121, 4.700141684995077),
 (517, 4.699554663694141),
 (519, 4.690768277766642),
 (527, 4.681906416636726),
 (508, 4.681396081800052),
 (94, 4.660055316316161),
 (451, 4.659455718251729),
 (414, 4.643632836555742),
 (159, 4.63863734125046),
 (263, 4.6293532033610365),
 (127, 4.625559290057872),
 (459, 4.619225921352653),
 (553, 4.614606208352535),
 (443, 4.606980966843751),
 (197, 4.60187102928488),
 (340, 4.599392708761165),
 (238, 4.598531155485217),
 (332, 4.592403433766888),
 (321, 4.589602501763223),
 (405, 4.581879472316336),
 (427, 4.572516781942051),
 (164, 4.563600061614589),
 (194, 4.51776175641597),
 (416, 4.506500718789832),
 (277, 4.499450239908882),
 (109, 4.498509369841817),
 (518, 4.487453067170585),
 (349, 4.485122950136498),
 (529, 4.453449605641956),
 (134, 4.449866684328614),
 (53, 4.444410295978492),
 (398, 4.441819309976906),
 (333, 4.425989397328868),
 (201, 4.42497415740786),
 (335, 4.420108379338842),
 (104, 4.408144173937154),
 (117, 4.402903567717145),
 (415, 4.394258715330656),
 (253, 4.337391571381689),
 (93, 4.333401477853212),
 (211, 4.328541325673967),
 (208, 4.308473992257547),
 (293, 4.3001219406171325),
 (493, 4.225949101284328),
 (99, 4.217573869840216)]

In [218]:
# top10 추출
top_10_list = ratings[:10]
top_10_list

[(2, 9.559685987960655),
 (43, 9.519689936604275),
 (41, 9.484183884137076),
 (12, 9.093605820344562),
 (13, 9.048477238190227),
 (0, 8.813188866247353),
 (14, 8.80946089126207),
 (37, 8.79673152005759),
 (15, 8.702783486085117),
 (19, 8.701332087132911)]

In [188]:
influ = influencers.loc[top_10_list[0][0]]
influ

category          뷰티 · 패션
channel               썸블리
followers         212,000
views              24,959
cost           10,176,000
category_id        500000
target_m               75
target_w               25
target_10              53
target_20              39
target_30               4
target_40               1
target_50               1
target_60               1
addr_code      1168066000
Name: 7, dtype: object

In [198]:
# top10 list 목록 출력
for i in range(10):
    influ = influencers.loc[top_10_list[i][0]]
    print('channel명 : ',influ.channel, '\t\t예측 평점 : ', top_10_list[i][1])

channel명 :  썸블리 		예측 평점 :  9.69386604106441
channel명 :  [DFWM] 동대문 패션 도매시장 		예측 평점 :  9.205987446358822
channel명 :  새벽 		예측 평점 :  9.0
channel명 :  바른남자 준구씨 come2david 		예측 평점 :  8.80946089126207
channel명 :  THEFACESHOP 		예측 평점 :  8.79673152005759
channel명 :  YUZU 유즈 		예측 평점 :  8.702783486085117
channel명 :  에이프롬 ÁFROM 		예측 평점 :  8.701332087132911
channel명 :  독고다LEE 		예측 평점 :  8.68950998844779
channel명 :  여니네일 YeoniNail 		예측 평점 :  8.684824512517343
channel명 :  채경chaekyung 		예측 평점 :  8.64987772113302

In [213]:
stores.loc[61]

상가업소번호                     23073225
상호명                             칼리아
업종코드                         F01A01
업종명                           여성미용실
시도명                           서울특별시
시군구코드                         11680
시군구명                            강남구
행정동코드                    1168065000
행정동명                           역삼2동
지번본번지                           732
지번부번지                            27
지번주소           서울특별시 강남구 역삼동 732-27
경도                          127.042
위도                          37.4974
category_id                  501001
y                            444218
x                            203714
area_code                   1000930
Name: 61, dtype: object